<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>User's Bank Account</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h1> <%= @user.username%> Account <h1>
      
    

  </body>
</html>